@page
@model AddModel
@{
}

<h2>Add new user with ID @Model.User.Id</h2>

<form method="post" class="flex flex-col space-y-4 w-56">
    <p>Name</p>
    <input class="p-2 border border-gray-300 rounded" asp-for="User.Name" />
    <button class="p-2 bg-gray-100 rounded" type="submit">Save</button>
</form>